@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

*, 
*::before, *::after {
padding: 0;
margin: 0;
box-sizing: border-box;
font-size: 15px;
font-family: "League Spartan", sans-serif;
background: hsl(180,52%,96%);
}


@tailwind base;
@tailwind components;
@tailwind utilities;